parameters:
    database:
        main:
            host: "localhost"
            username: "alfredborecc6119"
            password: "2c8V5TIfP-67_NFrS6U("
            database: "alfredborecc6119"
            dsn: "mysql:host=%database.main.host%;docker dbname=%database.main.database%"
            charset: utf8
            driver: pdo_mysql
    telegram:
        #apiToken: "5528437361:AAE84ZA3OxmLKuLGQdd6Hd0JKLcYnI_BaXc" # KC alfredBot
        apiToken: "6157035830:AAFEx4LdtlmJhbra80BwcZOJFvgtETq4qgU" # RozárkaBot
    openAI:
        apiToken: "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"
