application:
	errorPresenter: Error
	mapping:
		*: Alfred\App\*Module\Presenters\*Presenter

session:
	expiration: 14 days

di:
	export:
		parameters: no
		tags: no

extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    console: Contributte\Console\DI\ConsoleExtension(%consoleMode%)
    formMapper: FreezyBee\DoctrineFormMapper\DI\FormMapperExtension

includes:
    - loggers.neon
    - doctrine.neon
    - services.neon
    - telegram.neon
    - forms.neon
    - grids.neon
