services:
    - Alfred\App\Router\RouterFactory::createRouter
    GuzzleClient: GuzzleHttp\Client

    YolandaStrategy: Alfred\App\BotModule\ResponseStrategies\YolandaStrategy
    KrakenStrategy: Alfred\App\BotModule\ResponseStrategies\KrakenStrategy

    OpenAI: Orhanerday\OpenAi\OpenAi(%openAI.apiToken%)
