services:
    TelegramApi:
        create: Telegram\Bot\Api(%telegram.apiToken%)
        setup:
            - addCommand(@OpenAICommand)
            - addCommand(@VersionCommand)
            - addCommand(@WeatherCommand)
            - addCommand(@HelpCommand)
            - commandsHandler(true)

    VersionCommand: Alfred\App\BotModule\Commands\VersionCommand
    OpenAICommand: Alfred\App\BotModule\Commands\OpenAiCommand
    WeatherCommand: Alfred\App\BotModule\Commands\WeatherCommand
    HelpCommand: Telegram\Bot\Commands\HelpCommand